.edge--triangle {
  position: relative;
  background: inherit;
  clip-path: polygon(50% 100%, 0 0, 100% 0); /* Inverted triangle */
  height: 400px; /* Adjust based on how big you want the triangle */
  width: 100%; /* Ensures it stretches full width */
}

.bg-berry {
  background: #b52b4a;
}

.block {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}
